nav {
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
}

body {
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
}
